[Desktop Entry]
Name=Watch-It
Comment=Client-only media player for the Autonomi network
Exec=watchit
Icon=watchit
Type=Application
StartupWMClass=io.github.aautonomicc.watchit
Categories=AudioVideo;Video;Player;
Terminal=false
